<!DOCTYPE html>

<html>
    <head>
        <title>React and node test</title>
        <script src="http://fb.me/react-0.11.2.js"></script>
        <script src="http://fb.me/JSXTransformer-0.11.2.js"></script>
    </head>
    
    <body>
        <div id='content'></div>
        
        <script type="text/jsx">
        /*** @jsx React.DOM */
            
        var TodoBox = React.createClass({
            render: function() {
                return (
                    <div className="todolist">
                        <h1>Todolist</h1>

                        <TodoList />
                    
                        <TodoForm />
                    </div>
                );
            }
        });

        var TodoList = React.createClass({
            render: function() {
                return (
                    <ul>
                        <% todolist.forEach(function(todo, index) { %>
                            <li><%= todo.desc %></li>
                        <% }); %>
                    </ul>
                );
            }
        });
                    
        var TodoForm = React.createClass({
            render: function() {
                return (
                    <form className="todoForm" method="post" action="/" >
                        <input type="text" name="newtodo" placeholder="To do..." />
                        <input type="submit" value="Submit" />
                    </form>
                );
            }
        });

        React.renderComponent(<TodoBox />, document.getElementById('content'));
        </script>
    </body>
</html>
